# Folders
.vs
_gsdata_
_UnpackedGameFiles
JP_X4Mods_Old
JP_TestMod

# Files
*.xsd
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/JP_X4Mods_2023/_Stuff/TODO.txt
/JP_X4Mods_2023/_Stuff/Languages.txt
